:global(:root) {
	--sand-bg-color: var(--theme-background);
	--sand-component-bg-color: var(--theme-button-normal);
	--sand-focus-bg-color-rgb: var(--theme-button-focused-rgb);
	--sand-selected-bg-color: var(--theme-button-active);
	--sand-component-text-color-rgb: var(--theme-on-button-normal-rgb);
	--sand-component-focus-text-color-rgb: var(--theme-on-button-focused-rgb);
	--sand-text-color-rgb: var(--theme-on-surface-rgb);
	--sand-text-sub-color: var(--theme-text-secondary);
	--sand-shadow-color-rgb: 0, 0, 0;
}